@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-black: #0d0d11;
    --main-white: #fff;
    --bg-buttons: #6563ee;
    --sub-text: #8f8f94;
    --border: #ffffff0d;
}

body {
    color: var(--main-white);
    background: var(--main-black);
}