@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-black: #0d0d11;
    --main-white: #fff;
    --bg-buttons: #6563ee;
    --sub-text: #8f8f94;
    --border: #ffffff0d;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: var(--main-black);
}